html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	height: 100vh;
	width: 100%;
}

header {
	border: 3px solid black;
	margin: 5px;
}

.nav-header {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.game-logo {
	height: 60px;
	border-radius: 50%;
}

.menu-icon {
	display: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: blue;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.new-level {
	background-color: #202064;
	padding: 12px;
	border-radius: 10px;
	color: white;
}

.nav-links a {
	text-decoration: none;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	height: 100vh;	
}

.col-img {
	height: 100%;
	width: 100%;
}

.col-1 {
	grid-column: 1 / 3;
	grid-row: 1/ 6;

}
.col-2 {
	grid-column: 3/4;
}
.col-3 {
	grid-column: 4/ 5;
}
.col-4 {
	grid-column: 5 / 6;
	grid-row: 1/3
}

.col-5 {
	grid-column: 3/4;
	grid-row: 3/6;
}

.col-8 {
	grid-column: 4 / 6;
	grid-row: 3/6
}

.span-col {
	background-color: coral;
}

.foot-cont {
	padding: 35px 150px;
	background-color: #0e0e4a;
	color: white;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

br {
	margin: 8px;
}

h3 {
	font-size: 14px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 900;
	color: #dbe3e9;
}

.line {
	height: 1px;
	width: 180px;
	background-color: #a2a8ad;
	margin: 20px 1px 30px ;	
}

.foot-cont a {
	display: flex;
	color: white;
	text-decoration: none;
	padding-bottom: 15px;
	font
}